/* Generic Styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300,300italic);

body { color: #454545; }
body, input, textarea { font-family: 'Roboto', sans-serif; font-size: 18px; }
.wrap { max-width: 1150px; margin: 0 auto; }
.extended_wrap { max-width: 1430px;   margin: 0 auto; }
.entry-content { margin: 0 auto; }
.oflow { overflow: hidden; }
.fl { float: left; }
.fr { float: right; }
.tl { text-align: left; }
.tr {text-align: right;}
.ib { display: inline-block; vertical-align: middle; }
.tb { display: table; }
.clear { clear: both; }
.full-width { width: 100%; }
.first-half, .last-half { width: 50%; float: left; }
.third { width: 31%; float: left; margin: 0 1%; }
.quarter { width: 21%; float: left; margin: 0 2%;}
.last-half { float: right; }
.alignright { text-align: right; }
.nomargin { margin: 0 !important; }
.nopadding { padding: 0 !important; }
strong, b { font-weight: 700 }
.thin { font-weight: 300; }
i, em { font-style: italic; }
.none { display: none; }
a { text-decoration: none; outline: none !important; }
a:hover { text-decoration: underline; }
.relative { position: relative; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.justify { text-align: justify; }
.opacity0 { opacity: 0; }
a { text-decoration: initial !important; }

h1 { font-size: 72px; font-weight: bold; }
h2 { font-size: 52px; font-weight: lighter; }
h3 { font-size: 32px; font-weight: lighter; }
h4 { font-size: 26px; font-weight: lighter; }

.white_text { color: #FFF; }

sup {
    vertical-align: super;
    font-size: 9px !important;
}

.header {
    min-height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/bg.jpg");
    background-size: cover;
}

.btn {
    z-index: 1;
    outline: none;
    position: relative;
    overflow:hidden;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto';
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.btn:hover {
    color: rgb(64, 64, 64);
}

.btn:before {
    content: " ";
    position: absolute;
    background: #FFF;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.btn:hover:before {
    top: 0;
}

.bordered {
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #FFF;
}

li.menu-item {
    float: left;
    position: relative;
    padding: 0px 15px;
}

ul.menu {
    float: right;
}

.small-pad {
    padding: 40px 0;
}

.big-pad {
    padding: 100px 0;
}

.text-pad {
    padding: 12% 0 0;
}

.down-arrow {
    display: inline-block;
    position: absolute;
    bottom: 20px;
}

.line-height-25 {
    line-height: 25px;
}

.line-height-20 {
    line-height: 25px;
}

.feature .image-container {
    font-size: 45px;
    margin-bottom: 30px;
}

.feature .header-container {
    height: 145px;
}

.footer_info {
    color: #454545;
    background-color: #ECECEC;
}

.copyright {
    background-color: #454545;
}

i.fa.fa-heart {
    color: #B53232;
}

/****** mail chimp ********/

div#mc_embed_signup_scroll {
    display: inline-block;
}

div#mc_embed_signup_scroll > div {
    float: right;
}

input#mc-embedded-subscribe.mc_btn {
    padding: 10px 25px;
    color: #ECECEC;
    background-color: #454545;
    box-shadow: none;
    border: 0px;
    border-radius: 0px 10px 10px 0;
}

input#mce-EMAIL {
    padding: 11px 0px 11px 10px;
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
    border-left: 1px solid #454545;
    border-right: 0px;
    background-color: transparent;
    color: #454545;
    font-size: 15px;
    width: 300px;
}

input#mce-EMAIL::-webkit-input-placeholder{
    color: #454545;
}

input#mce-EMAIL:-moz-placeholder{
    color: #454545;
}

input#mce-EMAIL::-moz-placeholder{
    color: #454545;
}

input#mce-EMAIL:-ms-input-placeholder {
    color: #454545;
}



/** PLAYA **/


video#videoPlayer {
    width: 800px;
    border-radius: 6px;
}

/* video container */
.videoContainer{
    position:relative;
    display: inline-block;
}

.player-slider, .player-control-bar {
    width: 100%;
    display: inline-block;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}

.videoContainer:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.3);
    z-index: 6;
    border-radius: 6px;
    pointer-events: none;
}

/* video caption css */
.caption{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 5px 10px;
    color:#ddd;
    font-size:14px;
    font-weight:300;
    text-align: center;
    background: rgba(0,0,0,0.4);
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

/*** VIDEO CONTROLS CSS ***/
/* control holder */
.control{
    color:#ccc;
    position:absolute;
    bottom:10px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2147483647;
}
/* control bottom part */
.btmControl{
    clear:both;
    width: 700px;
    margin: 0 auto;
}
.control .btnPlay {
    float:left;
    width: 5%;
    height:30px;
    box-sizing: border-box;
    padding:5px;
    background: rgba(0,0,0,0.5);
    cursor:pointer;
    border-radius: 6px 0 0 6px;
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}
.control .icon-play{
    background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat -11px 0;
    width: 6px;
    height: 9px;
    display: block;
    margin: 4px 0 0 8px;
}
.control .icon-pause{
    background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat -34px -1px;
    width: 8px;
    height: 9px;
    display: block;
    margin: 4px 0 0 8px;
}
.control .selected{
    font-size:15px;
    color:#ccc;
}
.control .sound{
    width: 4%;
    height: 30px;
    float:left;
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.7);
    border-left: none;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
    cursor: pointer;
}
.control .icon-sound {
    background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat -19px 0;
    width: 13px;
    height: 10px;
    display: block;
    margin: 8px 0 0 8px;
}
.control .muted .icon-sound{
    width: 7px !important;
}
.control .btnFS{
    width: 5%;
    height: 30px;
    border-radius: 0 6px 6px 0;
    float:left;
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.7);
    border-left: none;
    box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}
.control .icon-fullscreen {
    background:url(http://s.cdpn.io/6035/vp_sprite.png) no-repeat 0 0;
    width: 10px;
    height: 10px;
    display: block;
    margin: 8px 0 0 9px;
}

/* PROGRESS BAR CSS */
/* Progress bar */
.progress-bar {
    height: 30px;
    width: 85%;
    padding: 10px;
    box-sizing: border-box;
    /* background: rgba(0,0,0,0.6); */
    /* border: 1px solid rgba(0,0,0,0.7); */
    border-left: none;
    /* box-shadow: inset 0 0 1px rgba(255,255,255,0.5); */
    float:left;
}
.progress {
    height:7px;
    position:relative;
    cursor:pointer;
    background: #262626; /* fallback */
    border-radius:10px;
}
.progress span {
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:block;
    border-radius:10px;
}
.timeBar{
    z-index:10;
    width:0;
    background: -webkit-linear-gradient(top, rgba(107,204,226,1) 0%,rgba(29,163,208,1) 100%);
    box-shadow: 0 0 7px rgba(107,204,226,.5);
}
.bufferBar{
    z-index:5;
    width:0;
    background: rgba(255,255,255,0.2);
}

/* VOLUME BAR CSS */
/* volume bar */
.volume{
    position:relative;
    cursor:pointer;
    width:70px;
    height:10px;
    float:right;
    margin-top:10px;
    margin-right:10px;
}
.volumeBar{
    display:block;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:#eee;
    z-index:10;
}